[submodule "libc"]
    path = libc
    url = git@github.com:slayer-os/libc.git
[submodule "drivers"]
    path = drivers
    url = git@github.com:slayer-os/drivers.git
[submodule "limine"]
    path = limine
    url = git@github.com:limine-bootloader/limine.git
    branch = v9.x-binary
